@(reportes: List[String], mensaje: String, user: seguridad.models.Usuario)

@title = {
  <bold>Informes</bold>
}

@main(user) {

<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/reportes.css")">


	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/reportes.css")">
	
	@if(mensaje.length() > 0) {
	<script type="text/javascript">
	   alert("@mensaje);
    </script>
    }
	<div id="informes">
	    @for(reporte <- reportes) {
            <a href="#">
                <img src="/imagenreporte/@reporte" >
            </a>
	    }
	</div>
}
